@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 1.2rem;
}

/* variaveis */
:root {
  --blue-secondary:  linear-gradient(262deg, rgba(0,91,197,1) 0%, rgba(0,180,252,1) 62%, rgba(23,249,255,1) 100%);
  --white : #FFFFFF;
  --black : #181818;
  --hover : #00b4fc;
}