/* configurações gerais */

#interesses img {
  width: 50px;
  height: 50px;
}

footer .imageFooter {
  width: 50px;
  height: 50px;
}

footer,
nav .menu,
#contatos {
  background: #464d70;
  padding: 1rem;
}

#sobreMim,
#formacao,
#experiencias,
#habilidades,
#interesses {
  background-color: #171d27;
  color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sobreMim p,
#formacao div,
#experiencias div,
#habilidades ul,
#interesses div {
  background-color: #464d70;
  border-radius: 25px;
  padding: 1rem;
  margin-bottom: 1rem;
  color: #171d27;
}

#sobreMim h3,
#formacao h3,
#experiencias h3,
#habilidades h3,
#interesses h3 {
  margin-bottom: 0.3rem;
}

/* ---- menu ---- */
nav .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  position: fixed;
  left: 5%;
  right: 5%;
}

nav .menu li {
  margin-right: 2rem;
}

nav .menu li a {
  text-decoration: none;
  font-size: 1.7rem;
  color: #171d27;
}

nav .menu li a:hover {
  color: #7375a5;
}

/* ---- contatos ---- */

#contatos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding-top: 4rem;
  color: #171d27;
}

#contatos img {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
}

#contatos h2 {
  font-size: 2rem;
  margin-bottom: 0.2rem;
  color: #171d27;
}

#contatos span {
  color: #171d27;
}

#contatos .avatar {
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 50%;
  margin: 1rem;
}

.contato {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1rem;
}

.contato div {
  display: flex;
  margin: 1rem;
}

.contato div img {
  margin-right: 0.3rem;
  background-color: #171d27;
}

.contato div p {
  font-size: 1.5rem;
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.redes img {
  margin: 0.5rem;
}

/* ---- sobre mim ---- */

/* ---- habilidades ---- */
#habilidades div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#habilidades div ul {
  margin-left: 1rem;
  margin-right: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#habilidades div ul span {
  font-size: 1.4rem;
  color: #7375a5;
}

#habilidades div ul li {
  padding: 0.5rem 0.5rem 0rem 0.5rem;
}

/* ---- interesses ---- */
#interesses div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#interesses div img {
  margin: 1rem;
}
