@import 'reset.css';
/* configurações gerais */

body {
  background: var(--blue-secondary);
}


footer,
nav .menu,
#contactInfo {
  padding: 1rem;
}



#about,
#education,
#experience,
#skills,
#interests {
  /* background-color: #181818; */
  color: var(--white);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about p,
#education div,
#experience div,
#skills ul,
#interests div {
  background: var(--white);
  border-radius: 25px;
  padding: 1rem;
  margin-bottom: 1rem;
  color: #181818;
}

#about h3,
#education h3,
#experience h3,
#skills h3,
#interests h3 {
  margin-bottom: 0.3rem;
}

/* ---- menu ---- */
nav .menu {
  background: linear-gradient(262deg, rgba(0,91,197,1) 0%, rgba(0,180,252,1) 16%, rgba(23,249,255,1) 100%);;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  position: fixed;
  left: 5%;
  right: 5%;
}

nav .menu li {
  margin-right: 2rem;
}

nav .menu li a {
  text-decoration: none;
  font-size: 1.7rem;
  color: #181818;
}

nav .menu li a:hover {
  color: var(--blue-secondary);
}

/* ---- contacts ---- */

#contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding-top: 4rem;
  color: #181818;
}

#contactInfo img {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
}

#contactInfo h2 {
  font-size: 2rem;
  margin-bottom: 0.2rem;
  color: #181818;
}

#contactInfo span {
  color: #181818;
}

#contactInfo .avatar {
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 50%;
  margin: 1rem;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1rem;
}

.contact div {
  display: flex;
  margin: 1rem;
}

.contact div img {
  margin-right: 0.3rem;
  background-color: #181818;
}

.contact div p {
  font-size: 1.5rem;
}

.socialNetworks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.socialNetworks img {
  margin: 0.5rem;
}

/* ---- experiencia ---- */
#experience a {
  text-decoration: none;
  color: var(--hover);
}

/* ---- skills ---- */
#skills div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#skills div ul {
  margin-left: 1rem;
  margin-right: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#skills div ul span {
  font-size: 1.4rem;
  color: var(--blue-secondary);
}

#skills div ul li {
  padding: 0.5rem 0.5rem 0rem 0.5rem;
}

/* ---- interests ---- */
#interests div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#interests div img {
  margin: 1rem;
  width: 50px;
  height: 50px;
  cursor: pointer;
  color: aliceblue;
}

#interests div img:hover {
  transform: rotate(1turn);
  transition: ease 1s;
}

#interests div.textInterest p.hidden {
  display: none;
}

/* ---- footer ---- */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: var(--white);
}

footer .imageFooter {
  width: 50px;
  height: 50px;
}

/* ------ menu responsivo ----- */
@media (max-width: 960px) {
  nav .hamburguer {
    background: var(--white);
    padding: 0.2rem 0.5rem 0.2rem 0.7rem;
    border-radius: 0 0 10px 0;
    top: 1rem;
    left: 1rem;
    transform: translate(-50%, -50%);
    position: fixed;
    width: 50px;
    cursor: pointer;
    z-index: 2;
  }

  nav .hamburguer::before,
  nav .hamburguer::after,
  nav .hamburguer div {
    background: #6cf3d5;
    content: "";
    display: block;
    width: 1.2rem;
    height: 0.1rem;
    border-radius: 3px;
    margin: 7px 0;
    transition: 0.5s;
  }

  nav .hamburguer:hover:before {
    transform: translateY(12px) rotate(135deg);
  }
  nav .hamburguer:hover:after {
    transform: translateY(-12px) rotate(-135deg);
  }
  nav .hamburguer:hover div {
    transform: scale(0);
  }

  nav .menu {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
  }

  nav ul li {
    margin: 0.5rem;
  }

  nav .hidden {
    display: none;
  }
}
